.demo-attribution-table__table {
  width: auto;
  min-width: 500px;
  max-width: 600px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.demo-attribution-table__header-row {
  background-color: #000;
  color: #fff;
}

.demo-attribution-table__header-cell {
  margin: 0;
  padding: 10px;
}

.demo-attribution-table__header-cell,
.demo-attribution-table__cell {
  margin: 0;
  padding: 2px 5px;
  vertical-align: top;
}

.demo-attribution-table__header-cell--title {
  width: 25%;
}

.demo-attribution-table__header-cell--type {
  width: 15%;
}

.demo-attribution-table__header-cell--sources {
  width: 60%;
}

